@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/*Resets*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Layout */
body, html {
  height: 100%;
}

body {
  background: #F4EFEB;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

.content header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content footer {
  height: 80px;
}

.content header {
  background: #EE4429;
  color: #fff;
}

.content header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content header nav .header--logo {
  padding: 0 30px;
  font-size: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content header nav .header--logo a {
  text-decoration: none;
  color: #fff;
}

.content header nav .header-center-options {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.content header nav .header-center-options ul.list-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 16px;
}

.content header nav .header-center-options ul.list-menu li {
  padding: 0 10px;
}

.content header nav .header-center-options ul.list-menu li a {
  color: #fff;
  text-decoration: none;
}

.content header nav .header-right-options {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.content footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  background: #0E0346;
  color: #F4EFEB;
}

h1.main-title {
  color: #0E0346;
  text-align: center;
}

#map {
  height: 300px;
  width: 80%;
  margin: 30px auto 20px;
}
