@media screen and (max-width:768px) {
  .full-top>h3 {
    font-size: 16px;
  }
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .text-top {
    font-size: 60px;
  }
  .button-down {
    margin: 80% 45%;
  }
  .navbar-brand {
    margin-top: 20px;
    margin-right: 200px;
  }
  .navbar-toggle {
    margin-right: 10px;
  }
  .img-flower1 {
    width: 10%;
    height: 10%;
    margin: 50px auto auto 300px;
  }
  .gift-list-img {
    height: 150px;
    margin: 20px 0px 50px 200px;
  }
  .countdown {
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: 'Great Vibes', cursive;
    font-size: -50px;
    color: #581d22;
  }

  .text-countdown {
    text-align: center;
    font-size: 20px;
  }
  .full-top {
    background: url(/img/1.jpeg) no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 50vh;
    min-width: 50vh;
  }
}