/*Resets*/
*
	margin: 0
	padding: 0
	border: 0

/* Layout */
body, html
	height: 100%

body
	background: #F4EFEB

footer
	height: 80px


// Small devices (landscape phones, less than 768px)
// @media (max-width: 767px)

// Medium devices (tablets, less than 992px)
// @media (max-width: 991px)

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199px)

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
